<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,intial-scale=1.0">
    <title> Car Purchase Prediction</title>
    <link rel="stylesheet" href="style.css">
    
</head>
<body bgcolor="teal">
        <div class="background">
            
        </div>
    <center>
    <h1 style="font-style: italic;font-size: 60px;color: azure;",>Car prediction purchase system</h1>
    <br>
    <br>
    <br>
    <br>

    <form action="/predictt" method="post" style="font-size: 30px;color: azure;font-style:oblique;">
    <label for ="Gender">Choose Gender</label>
    <select name="Gender">
    <option value="female">female</option>
    <option value="male">male</option>
    </select>   
    <p> Age</p>
    <p><input type="text" name ='Age'/></p>
    <p> Estimated Salary</p>
    <p><input type="text" name ='EstimatedSalary'/></p>

    <p><input type="submit" value ="submit"/> </p>

    </center>
    

    <h2><b>{{y}}</b></h2>
    
</body>
</html>