body
{
    margin: 0px;
    padding: 0px;
}

.background
{
    width:100%;
    height: 100vh;
    background-image:url("https://img.freepik.com/free-vector/abstract-geometric-wireframe-background_52683-59421.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}