<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,intial-scale=1.0">
    <title> Car Purchase Prediction</title>
    
</head>
<body bgcolor="teal">
    
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <center>
    <h2 style="color: azure; font-style: oblique;max-width: 41ch;" ><b>{{y}}</b></h2>
    
    </center>
</body>
</html>